<!DOCTYPE html>
<html>
<head>
  <title>G5 Status Board</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% if params[:refresh] == 'true' %>
    <meta http-equiv="refresh" content="30" />
  <% end %>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/styles.css" />

</head>
<body>

  <header role="banner" class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-span-12">
          <h1 class="navbar-brand">G5 Status Board: Pull Requests</h1>
          <%= refresh_link %>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <%= show_hide_link('g5-client-hub') %>

    <section role="main" class="row">

      <ul id="repos" class="col-span-12">
        <% pull_requests.each_with_index do |(repo_name, pull_requests), index| %>

          <% if !pull_requests.empty? %>
            <li class="repo">
              <article>

                <header>
                  <h3><%= repo_name %></h3>
                </header>

                <% pull_requests.each do |pull| %>
                  <div class="pull">
                    <h4><a href="<%= pull.html_url %>"><%= pull.title %></a> <small>Created <%= pull.created_at %></small></h4>
                    <p><%= pull.body %></p>
                  </div>
                <% end %>
              </article> <!-- end .repo -->
            </li>

          <% end %>
        <% end %>
      </ul> <!-- end #repos -->
    </section>
  </div> <!-- end .container -->

</body>
</html>
