<!DOCTYPE html>
<html>
<head>
  <title>G5 Status Board</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if params[:refresh] %>
    <meta http-equiv="refresh" content="<%= params[:refresh] %>" />
  <% end %>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/styles.css" />

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/script.js"></script>

</head>
<body>

  <header role="banner" class="navbar">
    <div class="container">
      <h1 class="navbar-brand pull-left">G5 Status Board</h1>
      <% if params[:refresh] %>
        <a href="http://localhost:4567" id="refresh" class="btn btn-small pull-right">Turn Off Auto Refresh</a>
      <% else %>
        <a href="http://localhost:4567?refresh=30" id="refresh" class="btn btn-info btn-small pull-right">Turn On Auto Refresh</a>
      <% end %>
    </div>
  </header>

  <div class="container">

    <section role="main">

      <header class="page-header">
        <h2>Open Pull Requests <small>click repo name to hide</small></h2>
      </header>

      <div id="repos" class="accordion">

        <% pull_requests.each_with_index do |(repo_name, pull_requests), index| %>
          <article class="repo accordion-group">

            <header class="accordion-heading">
              <h3><a href="#repo-<%= index %>" class="accordion-toggle" data-toggle="collapse" data-parent="#repos"><%= repo_name %></a></h3>
            </header>

            <div id="repo-<%= index %>" class="accordion-body collapse in">

              <% if !pull_requests.empty? %>

                <% pull_requests.each do |pull| %>
                  <div class="pull accordion-inner">
                    <h4><a href="<%= pull.html_url %>"><%= pull.title %></a> <small>Created <%= pull.created_at %></small></h4>
                    <p><%= pull.body %></p>
                  </div>
                <% end %>

              <% else %>

                <div class="pull accordion-inner">
                  <p>No open pull requests</p>
                </div>
              <% end %>

            </div>
          </article>
        <% end %>
      </div>
    </section>
  </div> <!-- end .container -->

</body>
</html>