<!DOCTYPE html>
<html>
<head>
  <title>G5 Status Board</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% if params[:refresh] == 'true' %>
    <meta http-equiv="refresh" content="30" />
  <% end %>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/styles.css" />

</head>
<body>

  <header role="banner" class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-span-12">
          <h1 class="navbar-brand"><%= organization.login %>: Pull Requests</h1>
          <%= refresh_link %>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <section role="main" class="row">

      <div class="col-span-12">

        <ul id="repos">
          <% pull_requests.each_with_index do |(repo_name, pull_requests), index| %>
            <% if show_repo?(repo_name) %>
              <li class="repo">
                <article>

                  <header>
                    <h3><%= repo_name %> <small><%= show_hide_link(repo_name) %></small></h3>
                  </header>

                  <% if !pull_requests.empty? %>

                    <% pull_requests.each do |pull| %>
                      <div class="pull">
                        <h4><a href="<%= pull.html_url %>"><%= pull.title %></a> <small>Created <%= pull.created_at %></small></h4>
                        <p><%= pull.body %></p>
                      </div>
                    <% end %>

                  <% else %>
                    <p>No open pull requests for this repo</p>
                  <% end %>

                </article> <!-- end .repo -->
              </li>
            <% end %>
          <% end %>
        </ul> <!-- end #repos -->
        <%= show_all_repos %>
      </div>
    </section>
  </div> <!-- end .container -->

</body>
</html>
